# PREDICTION DES RETARDS DE VOL

## 1. IMPORT DES LIBRAIRIES

In [1]:
import pandas as pd
from os.path import join
from sklearn.model_selection import train_test_split

## 2. CHARGEMENT DES DONNÉES

In [2]:
raw_data_path = join("..", "data", "raw")

In [3]:
jan_data_path = join(raw_data_path, "2016_01.csv")

In [4]:
df = pd.read_csv(jan_data_path)
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 64
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,4,0.0,0.0,47.0,0.0,66.0,NaN,NaN,NaN,NaN

In [9]:
float_cols = df.select_dtypes(include=["float64", "float32", "int64", "int32", "int8"]).columns
float_cols

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'AIRLINE_ID',
       'FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN_STATE_FIPS', 'ORIGIN_WAC',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID',
       'DEST_STATE_FIPS', 'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY',
       'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'TAXI_OUT',
       'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP',
       'CANCELLED', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'AIR_TIME', 'FLIGHTS', 'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'FIRST_DEP_TIME', 'TOTAL_ADD_GTIME', 'LONGEST_ADD_GTIME',
       'Unnamed: 64'],
      dtype='object')

In [7]:
df["TAXI_IN"].value_counts()

TAXI_IN
5.0      73651
4.0      70167
6.0      60552
7.0      46002
3.0      38237
         ...
124.0        1
105.0        1
118.0        1
133.0        1
134.0        1
Name: count, Length: 122, dtype: int64

## 3. EXPLORATION DES DONNÉES

In [7]:
df.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'UNIQUE_CARRIER', 'AIRLINE_ID', 'CARRIER', 'TAIL_NUM', 'FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'FIRST_DEP_TIME',
       'TOTAL_ADD_GTIME', 'LONGEST_ADD_GTIME', 'Unnamed: 64'],
      dtype='object')

In [25]:
df["ORIGIN_WAC"].value_counts()

ORIGIN_WAC
91    56245
74    48181
33    40042
34    30927
41    25987
22    20535
82    19742
81    14777
85    13300
36    12908
43    11728
38    11426
93    10999
63    10082
13     9148
21     9004
87     8888
23     8282
2      8266
64     7934
35     7181
54     6079
44     5519
72     5377
92     4862
45     4046
42     3133
1      2688
3      2653
73     2608
52     2426
37     2206
51     1865
83     1728
65     1640
86     1554
11     1520
71     1212
84     1198
66     1118
15      996
53      911
61      898
88      772
62      740
67      623
4       546
14      443
12      383
16      264
39      196
5        41
Name: count, dtype: int64

In [12]:
airlines_unique = df[["ORIGIN", "ORIGIN_CITY_NAME", "ORIGIN_WAC"]].drop_duplicates()
airlines_unique

       ORIGIN                ORIGIN_CITY_NAME  ORIGIN_WAC
0         DFW           Dallas/Fort Worth, TX          74
26        DTW                     Detroit, MI          43
57        SEA                     Seattle, WA          93
88        JFK                    New York, NY          22
119       SJC                    San Jose, CA          91
...       ...                             ...         ...
316863    DHN                      Dothan, AL          51
318158    EWN  New Bern/Morehead/Beaufort, NC          36
320976    ABY                      Albany, GA          34
338095    ISP                       Islip, NY          22
352363    LAR                     Laramie, WY          88

[294 rows x 3 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445827 entries, 0 to 445826
Data columns (total 65 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   445827 non-null  int64
 1   QUARTER                445827 non-null  int64
 2   MONTH                  445827 non-null  int64
 3   DAY_OF_MONTH           445827 non-null  int64
 4   DAY_OF_WEEK            445827 non-null  int64
 5   FL_DATE                445827 non-null  object
 6   UNIQUE_CARRIER         445827 non-null  object
 7   AIRLINE_ID             445827 non-null  int64
 8   CARRIER                445827 non-null  object
 9   TAIL_NUM               441583 non-null  object
 10  FL_NUM                 445827 non-null  int64
 11  ORIGIN_AIRPORT_ID      445827 non-null  int64
 12  ORIGIN_AIRPORT_SEQ_ID  445827 non-null  int64
 13  ORIGIN_CITY_MARKET_ID  445827 non-null  int64
 14  ORIGIN                 445827 non-null  object
 15  ORIGIN_CITY_NAME       445827 non-null  object
 16  ORIGIN_STATE_ABR       445827 non-null  object
 17  ORIGIN_STATE_FIPS      445827 non-null  int64
 18  ORIGIN_STATE_NM        445827 non-null  object
 19  ORIGIN_WAC             445827 non-null  int64
 20  DEST_AIRPORT_ID        445827 non-null  int64
 21  DEST_AIRPORT_SEQ_ID    445827 non-null  int64
 22  DEST_CITY_MARKET_ID    445827 non-null  int64
 23  DEST                   445827 non-null  object
 24  DEST_CITY_NAME         445827 non-null  object
 25  DEST_STATE_ABR         445827 non-null  object
 26  DEST_STATE_FIPS        445827 non-null  int64
 27  DEST_STATE_NM          445827 non-null  object
 28  DEST_WAC               445827 non-null  int64
 29  CRS_DEP_TIME           445827 non-null  int64
 30  DEP_TIME               434354 non-null  float64
 31  DEP_DELAY              434354 non-null  float64
 32  DEP_DELAY_NEW          434354 non-null  float64
 33  DEP_DEL15              434354 non-null  float64
 34  DEP_DELAY_GROUP        434354 non-null  float64
 35  DEP_TIME_BLK           445827 non-null  object
 36  TAXI_OUT               434227 non-null  float64
 37  WHEELS_OFF             434227 non-null  float64
 38  WHEELS_ON              433920 non-null  float64
 39  TAXI_IN                433920 non-null  float64
 40  CRS_ARR_TIME           445827 non-null  int64
 41  ARR_TIME               433920 non-null  float64
 42  ARR_DELAY              433298 non-null  float64
 43  ARR_DELAY_NEW          433298 non-null  float64
 44  ARR_DEL15              433298 non-null  float64
 45  ARR_DELAY_GROUP        433298 non-null  float64
 46  ARR_TIME_BLK           445827 non-null  object
 47  CANCELLED              445827 non-null  float64
 48  CANCELLATION_CODE      11665 non-null   object
 49  DIVERTED               445827 non-null  float64
 50  CRS_ELAPSED_TIME       445827 non-null  float64
 51  ACTUAL_ELAPSED_TIME    433298 non-null  float64
 52  AIR_TIME               433298 non-null  float64
 53  FLIGHTS                445827 non-null  float64
 54  DISTANCE               445827 non-null  float64
 55  DISTANCE_GROUP         445827 non-null  int64
 56  CARRIER_DELAY          70882 non-null   float64
 57  WEATHER_DELAY          70882 non-null   float64
 58  NAS_DELAY              70882 non-null   float64
 59  SECURITY_DELAY         70882 non-null   float64
 60  LATE_AIRCRAFT_DELAY    70882 non-null   float64
 61  FIRST_DEP_TIME         2552 non-null    float64
 62  TOTAL_ADD_GTIME        2552 non-null    float64
 63  LONGEST_ADD_GTIME      2552 non-null    float64
 64  Unnamed: 64            0 non-null       float64
dtypes: float64(30), int64(20), object(15)
memory usage: 221.1+ MB

On remarque rapidement que la colonne `Unnamed: 64` ne contient aucune valeurs

In [8]:
df["CANCELLATION_CODE"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 445827 entries, 0 to 445826
Series name: CANCELLATION_CODE
Non-Null Count  Dtype
--------------  -----
11665 non-null  object
dtypes: object(1)
memory usage: 3.4+ MB

In [9]:
cols_to_drop = ["Unnamed: 64"]

In [10]:
float_cols = df.select_dtypes(include=["float64", "float32"]).columns

print(f"Nombre de colonnes float : {len(float_cols)}")
print("\nDétails des colonnes float :")
for col in float_cols:
    print(f"- {col}: {df[col].dtype}")

Nombre de colonnes float : 30

Détails des colonnes float :
- DEP_TIME: float64
- DEP_DELAY: float64
- DEP_DELAY_NEW: float64
- DEP_DEL15: float64
- DEP_DELAY_GROUP: float64
- TAXI_OUT: float64
- WHEELS_OFF: float64
- WHEELS_ON: float64
- TAXI_IN: float64
- ARR_TIME: float64
- ARR_DELAY: float64
- ARR_DELAY_NEW: float64
- ARR_DEL15: float64
- ARR_DELAY_GROUP: float64
- CANCELLED: float64
- DIVERTED: float64
- CRS_ELAPSED_TIME: float64
- ACTUAL_ELAPSED_TIME: float64
- AIR_TIME: float64
- FLIGHTS: float64
- DISTANCE: float64
- CARRIER_DELAY: float64
- WEATHER_DELAY: float64
- NAS_DELAY: float64
- SECURITY_DELAY: float64
- LATE_AIRCRAFT_DELAY: float64
- FIRST_DEP_TIME: float64
- TOTAL_ADD_GTIME: float64
- LONGEST_ADD_GTIME: float64
- Unnamed: 64: float64

In [11]:
def has_decimals(series):
    """Vérifie si une série contient des valeurs avec décimales"""
    # Exclure les NaN
    clean_series = series.dropna()

    # Vérifier si toutes les valeurs sont égales à leur partie entière
    all_integers = (clean_series == clean_series.astype(int)).all()

    return not all_integers


print(f"CRS_DEP_TIME a des décimales : {has_decimals(df['CRS_DEP_TIME'])}")

CRS_DEP_TIME a des décimales : False

In [12]:
for col in float_cols:
    is_with_decimal = has_decimals(df[col])
    if is_with_decimal:
        print(f"{col} a des décimales")

In [13]:
cols_to_drop += [
    # Redundant Temporal Data
    "YEAR",
    "QUARTER",
    "DAY_OF_MONTH",
    "MONTH",
    # Redundant with CARRIER
    "UNIQUE_CARRIER",
    "AIRLINE_ID",
    # Data leakage risk
    "DEP_TIME",
    "ARR_TIME",
    "DEP_DELAY",
    "DEP_DELAY_NEW",
    "DEP_DEL15",
    "DEP_DELAY_GROUP",
    "ARR_DELAY",
    "ARR_DELAY_NEW",
    "ARR_DELAY_GROUP",
    "WHEELS_OFF",
    "WHEELS_ON",
    "TAXI_OUT",
    "TAXI_IN",
    "ACTUAL_ELAPSED_TIME",
    "AIR_TIME",
    # redundant with ORIGIN
    "ORIGIN_AIRPORT_ID",
    "ORIGIN_AIRPORT_SEQ_ID",
    "ORIGIN_WAC",
    # redundant with ORIGIN_CITY_NAME or ORIGIN_STATE_ABR
    "ORIGIN_CITY_MARKET_ID",
    "ORIGIN_STATE_NM",
    "ORIGIN_STATE_FIPS",
    # redundant with DEST
    "DEST_AIRPORT_ID",
    "DEST_AIRPORT_SEQ_ID",
    "DEST_WAC",
    # redundant with ORIGIN_CITY_NAME or DEST_STATE_ABR
    "DEST_CITY_MARKET_ID",
    "ORIGIN_STATE_NM",
    "DEST_STATE_NM",
    "DEST_STATE_FIPS",
    #
    "ORIGIN_AIRPORT_ID",
    "DEST_AIRPORT_ID",
    "CRS_DEP_TIME",
    "DEP_DELAY",
]

In [14]:
df_clean = df.copy()
df_clean = df_clean.dropna(subset=["ARR_DEL15"])
df_clean = df_clean.drop(columns=cols_to_drop)
df_clean["ARR_DEL15"] = df_clean["ARR_DEL15"].astype("bool")

In [15]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 433298 entries, 0 to 445826
Data columns (total 30 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   DAY_OF_WEEK          433298 non-null  int64
 1   FL_DATE              433298 non-null  object
 2   CARRIER              433298 non-null  object
 3   TAIL_NUM             433298 non-null  object
 4   FL_NUM               433298 non-null  int64
 5   ORIGIN               433298 non-null  object
 6   ORIGIN_CITY_NAME     433298 non-null  object
 7   ORIGIN_STATE_ABR     433298 non-null  object
 8   DEST                 433298 non-null  object
 9   DEST_CITY_NAME       433298 non-null  object
 10  DEST_STATE_ABR       433298 non-null  object
 11  DEP_TIME_BLK         433298 non-null  object
 12  CRS_ARR_TIME         433298 non-null  int64
 13  ARR_DEL15            433298 non-null  bool
 14  ARR_TIME_BLK         433298 non-null  object
 15  CANCELLED            433298 non-null  float64
 16  CANCELLATION_CODE    0 non-null       object
 17  DIVERTED             433298 non-null  float64
 18  CRS_ELAPSED_TIME     433298 non-null  float64
 19  FLIGHTS              433298 non-null  float64
 20  DISTANCE             433298 non-null  float64
 21  DISTANCE_GROUP       433298 non-null  int64
 22  CARRIER_DELAY        70882 non-null   float64
 23  WEATHER_DELAY        70882 non-null   float64
 24  NAS_DELAY            70882 non-null   float64
 25  SECURITY_DELAY       70882 non-null   float64
 26  LATE_AIRCRAFT_DELAY  70882 non-null   float64
 27  FIRST_DEP_TIME       2409 non-null    float64
 28  TOTAL_ADD_GTIME      2409 non-null    float64
 29  LONGEST_ADD_GTIME    2409 non-null    float64
dtypes: bool(1), float64(13), int64(4), object(12)
memory usage: 99.6+ MB

In [16]:
float_cols = df_clean.select_dtypes(include=["float64", "float32"]).columns

print(f"Nombre de colonnes float : {len(float_cols)}")
print("\nDétails des colonnes float :")
for col in float_cols:
    print(f"- {col}: {df_clean[col].dtype}")

Nombre de colonnes float : 13

Détails des colonnes float :
- CANCELLED: float64
- DIVERTED: float64
- CRS_ELAPSED_TIME: float64
- FLIGHTS: float64
- DISTANCE: float64
- CARRIER_DELAY: float64
- WEATHER_DELAY: float64
- NAS_DELAY: float64
- SECURITY_DELAY: float64
- LATE_AIRCRAFT_DELAY: float64
- FIRST_DEP_TIME: float64
- TOTAL_ADD_GTIME: float64
- LONGEST_ADD_GTIME: float64

In [17]:
for col in float_cols:
    is_with_decimal = has_decimals(df[col])
    if is_with_decimal:
        print(f"{col} a des décimales")

In [18]:
line_count = df_clean.shape[0]

for col in float_cols:
    na_count = df_clean[col].isna().sum()
    na_percentage = na_count / line_count * 100
    print(f"{col} has {na_count} empty lines over {line_count} ({na_percentage:.2f}%)")

CANCELLED has 0 empty lines over 433298 (0.00%)
DIVERTED has 0 empty lines over 433298 (0.00%)
CRS_ELAPSED_TIME has 0 empty lines over 433298 (0.00%)
FLIGHTS has 0 empty lines over 433298 (0.00%)
DISTANCE has 0 empty lines over 433298 (0.00%)
CARRIER_DELAY has 362416 empty lines over 433298 (83.64%)
WEATHER_DELAY has 362416 empty lines over 433298 (83.64%)
NAS_DELAY has 362416 empty lines over 433298 (83.64%)
SECURITY_DELAY has 362416 empty lines over 433298 (83.64%)
LATE_AIRCRAFT_DELAY has 362416 empty lines over 433298 (83.64%)
FIRST_DEP_TIME has 430889 empty lines over 433298 (99.44%)
TOTAL_ADD_GTIME has 430889 empty lines over 433298 (99.44%)
LONGEST_ADD_GTIME has 430889 empty lines over 433298 (99.44%)

- CARRIER_DELAY,
- WEATHER_DELAY,
- NAS_DELAY,
- SECURITY_DELAY,
- LATE_AIRCRAFT_DELAY,
- FIRST_DEP_TIME,
- TOTAL_ADD_GTIME et
- LONGEST_ADD_GTIME
  ont plus de 80% de lignes vides et sont donc inexploitables

In [19]:
empty_cols = [
    "CARRIER_DELAY",
    "WEATHER_DELAY",
    "NAS_DELAY",
    "SECURITY_DELAY",
    "LATE_AIRCRAFT_DELAY",
    "FIRST_DEP_TIME",
    "TOTAL_ADD_GTIME",
    "LONGEST_ADD_GTIME",
]

In [20]:
df_clean = df_clean.drop(columns=empty_cols)

In [21]:
updated_float_cols = [col for col in float_cols if col not in empty_cols]

for col in updated_float_cols:
    df_clean[col] = df_clean[col].astype("int32")
    print(f"{col} a été transformée en int32")

df_clean.info()

CANCELLED a été transformée en int32
DIVERTED a été transformée en int32
CRS_ELAPSED_TIME a été transformée en int32
FLIGHTS a été transformée en int32
DISTANCE a été transformée en int32
<class 'pandas.core.frame.DataFrame'>
Index: 433298 entries, 0 to 445826
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DAY_OF_WEEK        433298 non-null  int64
 1   FL_DATE            433298 non-null  object
 2   CARRIER            433298 non-null  object
 3   TAIL_NUM           433298 non-null  object
 4   FL_NUM             433298 non-null  int64
 5   ORIGIN             433298 non-null  object
 6   ORIGIN_CITY_NAME   433298 non-null  object
 7   ORIGIN_STATE_ABR   433298 non-null  object
 8   DEST               433298 non-null  object
 9   DEST_CITY_NAME     433298 non-null  object
 10  DEST_STATE_ABR     433298 non-null  object
 11  DEP_TIME_BLK       433298 non-null  object
 12  CRS_ARR_TIME       433298 non-null  int64
 13  ARR_DEL15          433298 non-null  bool
 14  ARR_TIME_BLK       433298 non-null  object
 15  CANCELLED          433298 non-null  int32
 16  CANCELLATION_CODE  0 non-null       object
 17  DIVERTED           433298 non-null  int32
 18  CRS_ELAPSED_TIME   433298 non-null  int32
 19  FLIGHTS            433298 non-null  int32
 20  DISTANCE           433298 non-null  int32
 21  DISTANCE_GROUP     433298 non-null  int64
dtypes: bool(1), int32(5), int64(4), object(12)
memory usage: 64.9+ MB

FL_DATE : Pour extraire mois, jour, saisonnalité
DAY_OF_WEEK : Pattern de trafic différent selon le jour
CRS_DEP_TIME, CRS_ARR_TIME : Horaires prévus (heures de pointe = plus de retard)
DEP_TIME_BLK, ARR_TIME_BLK : Plages horaires agrégées

Identifiants de vol :

UNIQUE_CARRIER : Performance historique par compagnie
TAIL_NUM : Historique de l'avion spécifique
FL_NUM : Certains numéros de vol sont chroniquement en retard

Géographie :

ORIGIN, DEST : Aéroports critiques (hubs vs régionaux)
ORIGIN_CITY_NAME, DEST_CITY_NAME : Contexte urbain/météo
ORIGIN_STATE_ABR, DEST_STATE_ABR : Contexte régional
ORIGIN_WAC, DEST_WAC : Zones de contrôle aérien

Métadonnées de vol :

CRS_ELAPSED_TIME : Durée prévue (vols longs plus sensibles aux retards)
CANCELLED, DIVERTED

#### Variables temporelles

- DAY_OF_WEEK : Jour de la semaine (1 = lundi, 7 = dimanche)
- FL_DATE : Date complète du vol (format AAAA-MM-JJ)

#### Informations sur le vol

- UNIQUE_CARRIER : Code unique du transporteur (ex. : 'AA' pour American Airlines)
- AIRLINE_ID : Identifiant numérique de la compagnie aérienne
- CARRIER : Code du transporteur
- TAIL_NUM : Numéro de queue de l'avion
- FL_NUM : Numéro du vol

#### Aéroport d'origine

- ORIGIN_AIRPORT_ID : Identifiant de l'aéroport d'origine
- ORIGIN_AIRPORT_SEQ_ID : Identifiant de séquence de l'aéroport d'origine
- ORIGIN_CITY_MARKET_ID : Identifiant du marché de la ville d'origine
- ORIGIN : Code IATA de l'aéroport d'origine (ex. : 'JFK')
- ORIGIN_CITY_NAME : Nom de la ville d'origine
- ORIGIN_STATE_ABR : Abréviation de l'État d'origine
- ORIGIN_STATE_FIPS : Code FIPS de l'État d'origine
- ORIGIN_STATE_NM : Nom complet de l'État d'origine
- ORIGIN_WAC : Code de zone de l'aéroport d'origine

#### Aéroport de destination

- DEST_AIRPORT_ID : Identifiant de l'aéroport de destination
- DEST_AIRPORT_SEQ_ID : Identifiant de séquence de l'aéroport de destination
- DEST_CITY_MARKET_ID : Identifiant du marché de la ville de destination
- DEST : Code IATA de l'aéroport de destination
- DEST_CITY_NAME : Nom de la ville de destination
- DEST_STATE_ABR : Abréviation de l'État de destination
- DEST_STATE_FIPS : Code FIPS de l'État de destination
- DEST_STATE_NM : Nom complet de l'État de destination
- DEST_WAC : Code de zone de l'aéroport de destination

#### Horaires et retards

- CRS_DEP_TIME : Heure de départ prévue (au format HHMM)
- DEP_TIME : Heure réelle de départ
- DEP_DELAY : Retard au départ en minutes (négatif si en avance)
- DEP_DELAY_NEW : Retard au départ, avec 0 pour les retards ≤ 0
- DEP_DEL15 : Indicateur de retard au départ ≥ 15 minutes (1 = oui, 0 = non)
- DEP_DELAY_GROUP : Groupe de retard au départ (par tranches de 15 minutes)
- DEP_TIME_BLK : Plage horaire du départ (ex. : '0600-0659')
- TAXI_OUT : Temps de roulage avant le décollage (en minutes)
- WHEELS_OFF : Heure de décollage (roues quittant le sol)
- WHEELS_ON : Heure d'atterrissage (roues touchant le sol)
- TAXI_IN : Temps de roulage après l'atterrissage (en minutes)
- CRS_ARR_TIME : Heure d'arrivée prévue
- ARR_TIME : Heure réelle d'arrivée
- ARR_DELAY : Retard à l'arrivée en minutes
- ARR_DELAY_NEW : Retard à l'arrivée, avec 0 pour les retards ≤ 0
- ARR_DEL15 : Indicateur de retard à l'arrivée ≥ 15 minutes (1 = oui, 0 = non)
- ARR_DELAY_GROUP : Groupe de retard à l'arrivée (par tranches de 15 minutes)
- ARR_TIME_BLK : Plage horaire de l'arrivée (ex. : '0900-0959')

#### Annulations et détournements

26-05-2025 / Promo 1

- CANCELLED : Indicateur d'annulation du vol (1 = oui, 0 = non)
- CANCELLATION_CODE : Code de la raison de l'annulation (A = transporteur, B = météo, C =
  NAS, D = sécurité)
- DIVERTED : Indicateur de vol détourné (1 = oui, 0 = non)

#### Durées et distances

- CRS_ELAPSED_TIME : Durée prévue du vol (en minutes)
- ACTUAL_ELAPSED_TIME : Durée réelle du vol (en minutes)
- AIR_TIME : Temps de vol effectif (en minutes)

## 4. VISUALISATIONS

## 5.MODÉLISATION